#logo {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    path {
        opacity: 0;
        &.active {
            animation: logo-animation 2.5s;
        }
    }
}


@keyframes logo-animation {
    5% {
        opacity: 1
    }

    95% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}