.navBar {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 50px;
    background-color: rgba(255,255,255, 0.02);
  
    .items {
        background-color: red;
        line-height: 36px;
    }
    
}

// .logo {
//     background-color: red;
//     // height: 2vh;
//     img {
//         width: 10vh;
//     }
// }